.menu-button {
  width: 60%;
  display: grid;
  margin: auto;
  /* background-color: #2e8080; */
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 120px;

}

.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #18bc84;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #18bc84}

.button:active {
    background-color: #18bc84;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
    border: solid 1px white;
  }

.adding-sensor-actuator {
    background-color: #18bc84;
    width: 36%;
    border-radius: 30px;
    margin: auto;
}

.container-adding-sensor-actuator {
    text-align: center;
    margin-top: 60px;
}

.button-component {
    width: 50%;
    border-radius: 10px;
    background-color: #18bc84;
    margin: 20px auto;
    color: white;
    padding: 5px;
}