.container {
    display: grid;
    grid-template-columns: 1fr;
    width: 700px;
    margin: 10px auto;
}

.box {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 10px;
    width: 700px;
    height: 300px;
    margin: 20px;
}